form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 230px;
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px; */
}

form label {
  color: black;
  margin-bottom: 15px;
}

form textarea {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
  height: 55px;
  font-size: 15px;
}

form button {
  cursor: pointer;
  width: 80px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.add-button {
  background-color: lightgreen;  
}

.cancel-button {
  background-color: lightpink;
}